<%= render(partial: "/application/errors", locals: {errors: @errors}) %>

<h2> Log In </h2>

<%= form_for :musician  do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= f.label "Name" %>
    <%= f.text_field :name %> <br>
    <%= f.label "Password" %>
    <%= f.password_field :password %> <br> 
    <%= f.submit "Log In" %>
  <% end %>

  <%= link_to "Google Login", "/auth/google_oauth2" %>
