<h3>Musician: <%= @musician.name %></h3>

<h5> You have <%= @gigs.size %> <%= link_to "gigs", musician_gigs_path(@musician) %> coming up and <%= @songs.size %> <%= link_to "songs", songs_path %> to practice.</h5>

