
<%= form_for @gig do |f| %>
  <%= f.label "date" %>
  <%= f.date_field :date %> 
  <br>
    <%= f.label "Venue" %>
    <%= f.text_field :venue %> 
    <br>
    <%= f.label "Select or Create Band" %>

    <%= f.text_field :band_name, list: "bands_autocomplete" %>
    <datalist id="bands_autocomplete">
      <% @bands.each do |band| %>
        <option value="<%= band.name %>">
      <% end %>
    </datalist>
  <br>

      <h4> Set List: </h4>
      <%=f.fields_for :gig_songs do |gs| %>
        <%=gs.label "Song Name:"%>
        <%= gs.text_field :song_name, list: "songs_autocomplete" %>
        <datalist id="songs_autocomplete">
          <% @songs.each do |song| %>
            <option value="<%= song.name %>">
          <% end %>
        </datalist>
        <%=gs.label "Original Version?"%>
        <%=gs.check_box :original%>
        <%=gs.label "Notes:"%>
        <%=gs.text_field :notes%>
        <br>

      <%end%>  
      <br>
    <%= f.submit %>
  <% end %>


