

<h2> <%= @gig.band.name %> <%= show_date(@gig) %> </h2>
<h2> <%= @gig.venue%> </h2>

<h3> Setlist: </h3>

<p> <% @gig_songs.each do |gs| %>
    <li> <%= gs.details %> </li>
        <% end %> </p>

<%= link_to "Edit Gig", edit_gig_path(@gig) %>